In [1]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL 서버 연결 정보 설정
host = '15.164.171.183'
user = 'mealddang'
password = 'test1234'
database = 'mealddang'

# MySQL에 연결하는 Connection String 생성
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# 엔진 생성
engine = create_engine(connection_string)

In [2]:
query = "SELECT * FROM restaurant_keyword;"
df = pd.read_sql(query, engine)

In [7]:
df_unique = df.drop_duplicates(subset=['restaurant_id', 'keyword']).reset_index(drop=True)
df_unique['keyword_id'] = df_unique.index  # 새로운 기본 키 컬럼 생성

# 새로운 데이터프레임 확인

new_order = ['keyword_id', 'restaurant_id','keyword']

# 선택된 열로 새로운 데이터프레임 생성
df_reordered = df_unique[new_order]
print(df_reordered)

# DataFrame을 MySQL 데이터베이스의 새로운 테이블에 저장
df_reordered.to_sql('restaurant_keyword', con=engine, index=False, if_exists='replace')

        keyword_id  restaurant_id         keyword
0                0       10985460               코
1                1       10985460              인걸
2                2       10985460              대박
3                3       10985460              국밥
4                4       10985460              생각
...            ...            ...             ...
188182      188182       37236849            땡초라면
188183      188183       37236849           폭탄계란찜
188184      188184     1209151854  본앤본 프레스티지 스테이크
188185      188185     1209151854    포터하우스(100g당)
188186      188186     1209151854       블랙라벨 스테이크

[188187 rows x 3 columns]

188187

In [2]:
# 쿼리 실행 및 결과 DataFrame으로 로드 Naver
query = "SELECT * FROM restaurants_catchtable;"
cat_df = pd.read_sql(query, engine)

In [3]:
# 쿼리 실행 및 결과 DataFrame으로 로드 Naver
query = "SELECT * FROM restaurants_naver;"
naver_df = pd.read_sql(query, engine)

In [4]:
# 쿼리 실행 및 결과 DataFrame으로 로드 Naver
query = "SELECT * FROM restaurants_yogiyo;"
yogiyo_df = pd.read_sql(query, engine)

In [44]:
# cat

cat = cat_df[['shopref', 'shopname', 'foodKind', 'landName', 'serviceDesc', 'shopPhone', 'dispshopphone', 'shopaddress', 'shopAddress2' ,'lat' ,'lon', 'url', 'finalScore' , 'totalReviewCount']]

1. shopref : 식당 id
2. shopname : 식당 이름
3. foodKind : 음식 카테고리
4. landName : 랜드마크
5. serviceDesc : 식당 설명
6. shopPhone : 식당 전화번호 (안심)
7. dispshopphone : 식당 전화번호
8. shopaddress : 식당 주소
9. shopAddress2 : 식당 도로명 주소?
10. lat : 위도
11. lon : 경도
12. url : 식당 홈페이지
13. finalScore : 식당 평점
14. totalReviewCount : 리뷰 전체 수

In [43]:
# yogiyo

yogiyo = yogiyo_df[['restaurant_id', 'name', 'categories', 'review_avg' , 'review_count', 'lat', 'lng', 'begin', 'end', 'phone', 'address', 'thumbnail_url']]

catch // yogiyo // naver


1. 식당 id  : shopref // restaurant_id 
2. 식당 이름 : shopname  //  name 
3. 음식 카테고리 : foodKind  //  categories
4. 랜드마크 : landName // null
5. 식당 설명 : serviceDesc // null
6. 식당 전화번호 (안심) : shopPhone  //  phone 
7. 식당 전화번호 : dispshopphone // null
8. 식당 주소 : shopaddress  //  address
9. 식당 도로명 주소? : shopAddress2 // null
10. 위도 : lat  //  lat 
11. 경도 : lon  //   lng  
12. 식당 홈페이지 : url  // null 
13. 식당 평점 : finalScore  //  review_avg 
14. 리뷰 전체 수 : totalReviewCount  //  review_count 
15. 오픈시간 : null  //  begin 
16. 마감시간 : null  //  end  
17. 식당 대표 음식 사진 : null // thumbnail_url

In [47]:
naver_df.columns

Index(['restaurant_id', 'name', 'normalizedName', 'category', 'detailCid',
       'categoryCodeList', 'dbType', 'distance', 'roadAddress', 'address',
       'fullAddress', 'commonAddress', 'bookingUrl', 'phone', 'virtualPhone',
       'businessHours', 'daysOff', 'imageUrl', 'imageCount', 'x', 'y',
       'poiInfo', 'subwayId', 'isPublicGas', 'isDelivery', 'isTableOrder',
       'isPreOrder', 'isTakeOut', 'isCvsDelivery', 'hasBooking',
       'naverBookingCategory', 'bookingDisplayName', 'bookingBusinessId',
       'bookingVisitId', 'bookingPickupId', 'baemin', 'yogiyo',
       'isPollingStation', 'hasNPay', 'talktalkUrl', 'visitorReviewCount',
       'visitorReviewScore', 'blogCafeReviewCount', 'bookingReviewCount',
       'streetPanorama', 'naverBookingHubId', 'bookingHubUrl',
       'bookingHubButtonName', 'newOpening', 'newBusinessHours', 'coupon',
       'mid', '__typename', 'created_at'],
      dtype='object')

In [ ]:
naver = naver_df[['restaurant_id', 'name', 'normalizedName', 'category', 'roadAddress', 'address', 'fullAddress', 'commonAddress', 'bookingUrl', 'phone', 'virtualPhone', 'businessHours', 'imageUrl', 'y', 'x', 'hasBooking', 'visitorReviewScore', 'visitorReviewCount', 'newBusinessHours']].copy()

In [ ]:
naver_df[''].isnull().sum()

catch // yogiyo // naver


1. 식당 id  : shopref // restaurant_id // restaurant_id 
2. 식당 이름 : shopname  //  name  // name
3. 음식 카테고리 : foodKind  //  categories // category
4. 랜드마크 : landName // null  // commonAddress
5. 식당 설명 : serviceDesc // null // normalizedName??
6. 식당 전화번호 (안심) : shopPhone  //  phone  // phone
7. 식당 전화번호 : dispshopphone // null  //  virtualPhone
8. 식당 주소 : shopaddress  //  address // address or fullAddress
9. 식당 도로명 주소? : shopAddress2 // null // roadAddress
10. 위도 : lat  //  lat  //  y
11. 경도 : lon  //   lng  //  x
12. 식당 홈페이지 : url  // null  // null
13. 식당 평점 : finalScore  //  review_avg  // visitorReviewScore
14. 리뷰 전체 수 : totalReviewCount  //  review_count // visitorReviewCount
15. 오픈시간 : null  //  begin   // businessHours(추출 필요)
16. 마감시간 : null  //  end   //  newBusinessHours(description) 에서 추출
17. 식당 대표 음식 사진 : null // thumbnail_url  // imageUrl
18. 예약 주소 : null // null // bookingUrl
19. 예약 가능한가 : null // null // hasBooking