In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("naver_result.csv", encoding='utf-8-sig')

In [4]:
df.columns

Index(['review_id', 'rating', 'body', 'thumbnail', 'media', 'tags', 'status',
       'visitCount', 'viewCount', 'visited', 'created', 'reply', 'originType',
       'item', 'language', 'highlightOffsets', 'apolloCacheId',
       'translatedText', 'businessName', 'showBookingItemName',
       'bookingItemName', 'votedKeywords', 'userIdno', 'loginIdno',
       'receiptInfoUrl', 'hasViewerReacted', 'nickname', 'showPaymentInfo',
       '__typename', 'restaurant_id', 'created_at', 'reaction_cool',
       'reaction_fun', 'reaction_helpful', 'reaction_wannago', 'author_id',
       'author_nickname', 'author_from', 'author_imageUrl',
       'author_borderImageUrl', 'author_objectId', 'author_url',
       'author_isFollowing', 'author_followerCount', 'author_followRequested',
       'author___typename', 'author_review.totalCount',
       'author_review.imageCount', 'author_review.avgRating',
       'author_review.__typename', 'author_theme.totalCount',
       'author_theme.__typename', 'author_review', 'author_theme'],
      dtype='object')

In [5]:
df.rating

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
549608   NaN
549609   NaN
549610   NaN
549611   NaN
549612   NaN
Name: rating, Length: 549613, dtype: float64

In [6]:
df.businessName

0         구이마마 대치점
1         구이마마 대치점
2         구이마마 대치점
3         구이마마 대치점
4         구이마마 대치점
            ...
549608       리프앤빈즈
549609       리프앤빈즈
549610       리프앤빈즈
549611       리프앤빈즈
549612       리프앤빈즈
Name: businessName, Length: 549613, dtype: object

In [7]:
df.dropna(subset=['rating'], inplace=True)

In [8]:
# businessName 열을 기준으로 그룹화하여 각 그룹의 개수 계산
group_counts = df.groupby('businessName').size()

# 10 이상인 그룹들만 선택하여 출력
filtered_group_counts = group_counts[group_counts >= 10]
print(filtered_group_counts)

businessName
106길 15           62
1914 라운지&바        56
2F                20
502커피로스터스 역삼      44
502커피로스터스 역삼점     11
                ...
훠궈나라 강남점         228
흑산도홍어 양재점         10
희래등               68
히라이               38
히바치참치             53
Length: 1107, dtype: int64

In [9]:
# 필터링된 그룹의 식당들만 선택하여 새로운 DataFrame 생성
filtered_df = df[df['businessName'].isin(filtered_group_counts.index)]

# 새로운 DataFrame 출력
print(filtered_df)

                       review_id  rating  \
42      60d00802ddab3800506106eb     0.5
43      60b8472d3e6c8d00506069ea     4.5
44      60b63d1a74dab90050fa6896     5.0
45      60af0cf068571c004fd98007     4.0
46      60b434324caa1a005051f04e     3.5
...                          ...     ...
549480  5fdca6a18f08730064dd05cb     3.5
549481  5f6d4b84d5e18f00771ab3bf     5.0
549482  5fd4bfbf40f6b600605d264c     5.0
549483  5fd4bef567ad970064bce482     5.0
549484  60a221f841fe8b004f30df59     5.0

                                                     body thumbnail media  \
42      손님 놓치기 싫어서 지하1층으로 손님을 받을거면 동일한 서비스를 제공하세요 , 그동...       NaN    []
43                                                   맛있어요       NaN    []
44                                           김치찌개랑 계란말이 쨩       NaN    []
45                                                      .       NaN    []
46                                            파절이가 좀 아쉽네요       NaN    []
...                                                   ...       ...   ...
549480                                      맛있는데 닭이 쪼끄맣네요       NaN    []
549481                                                좋아요       NaN    []
549482                                               맛있어요       NaN    []
549483                                      너무 맛있구 좋아용 ❤️       NaN    []
549484                                                좋아요       NaN    []

        tags     status  visitCount  viewCount     visited  ...  \
42       NaN  published           1        494   21.6.21.월  ...
43       NaN  published           1        447    21.6.3.목  ...
44       NaN  published           1        453   21.5.28.금  ...
45       NaN  published           2        404   21.5.27.목  ...
46       NaN  published           1        384   21.5.26.수  ...
...      ...        ...         ...        ...         ...  ...
549480   NaN  published           1        378  20.12.13.일  ...
549481   NaN  published           1        325   20.9.25.금  ...
549482   NaN  published           1        316    20.9.1.화  ...
549483   NaN  published           1        311    20.9.1.화  ...
549484   NaN  published           1        173   20.2.26.수  ...

       author_followRequested    author___typename author_review.totalCount  \
42                        NaN  VisitorReviewAuthor                    106.0
43                        NaN  VisitorReviewAuthor                     75.0
44                        NaN  VisitorReviewAuthor                     96.0
45                        NaN  VisitorReviewAuthor                     82.0
46                        NaN  VisitorReviewAuthor                    280.0
...                       ...                  ...                      ...
549480                    NaN  VisitorReviewAuthor                   1105.0
549481                    NaN  VisitorReviewAuthor                    636.0
549482                    NaN  VisitorReviewAuthor                   1163.0
549483                    NaN  VisitorReviewAuthor                    289.0
549484                    NaN  VisitorReviewAuthor                   1740.0

       author_review.imageCount author_review.avgRating  \
42                          0.0                     3.9
43                          3.0                     4.5
44                          8.0                     4.4
45                          0.0                     3.3
46                          8.0                     3.8
...                         ...                     ...
549480                    462.0                     4.8
549481                      3.0                     5.0
549482                      1.0                     4.9
549483                     16.0                     5.0
549484                      0.0                     4.8

        author_review.__typename  author_theme.totalCount  \
42                  AuthorReview                      0.0
43                  AuthorReview                      0.0
44                  AuthorReview                      0.0
45                  AuthorReview                      0.0
46                  AuthorReview                      0.0
...                          ...                      ...
549480              AuthorReview                      0.0
549481              AuthorReview                      0.0
549482              AuthorReview                      0.0
549483              AuthorReview                      0.0
549484              AuthorReview                      0.0

        author_theme.__typename author_review  author_theme
42                  AuthorTheme           NaN           NaN
43                  AuthorTheme           NaN           NaN
44                  AuthorTheme           NaN           NaN
45                  AuthorTheme           NaN           NaN
46                  AuthorTheme           NaN           NaN
...                         ...           ...           ...
549480              AuthorTheme           NaN           NaN
549481              AuthorTheme           NaN           NaN
549482              AuthorTheme           NaN           NaN
549483              AuthorTheme           NaN           NaN
549484              AuthorTheme           NaN           NaN

[136920 rows x 54 columns]

In [10]:
filtered_df

,review_id,rating,body,thumbnail,media,tags,status,visitCount,viewCount,visited,...,author_followRequested,author___typename,author_review.totalCount,author_review.imageCount,author_review.avgRating,author_review.__typename,author_theme.totalCount,author_theme.__typename,author_review,author_theme
42,60d00802ddab3800506106eb,0.5,"손님 놓치기 싫어서 지하1층으로 손님을 받을거면 동일한 서비스를 제공하세요 , 그동...",NaN,[],NaN,published,1,494,21.6.21.월,...,NaN,VisitorReviewAuthor,106.0,0.0,3.9,AuthorReview,0.0,AuthorTheme,NaN,NaN
43,60b8472d3e6c8d00506069ea,4.5,맛있어요,NaN,[],NaN,published,1,447,21.6.3.목,...,NaN,VisitorReviewAuthor,75.0,3.0,4.5,AuthorReview,0.0,AuthorTheme,NaN,NaN
44,60b63d1a74dab90050fa6896,5.0,김치찌개랑 계란말이 쨩,NaN,[],NaN,published,1,453,21.5.28.금,...,NaN,VisitorReviewAuthor,96.0,8.0,4.4,AuthorReview,0.0,AuthorTheme,NaN,NaN
45,60af0cf068571c004fd98007,4.0,.,NaN,[],NaN,published,2,404,21.5.27.목,...,NaN,VisitorReviewAuthor,82.0,0.0,3.3,AuthorReview,0.0,AuthorTheme,NaN,NaN
46,60b434324caa1a005051f04e,3.5,파절이가 좀 아쉽네요,NaN,[],NaN,published,1,384,21.5.26.수,...,NaN,VisitorReviewAuthor,280.0,8.0,3.8,AuthorReview,0.0,AuthorTheme,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549480,5fdca6a18f08730064dd05cb,3.5,맛있는데 닭이 쪼끄맣네요,NaN,[],NaN,published,1,378,20.12.13.일,...,NaN,VisitorReviewAuthor,1105.0,462.0,4.8,AuthorReview,0.0,AuthorTheme,NaN,NaN
549481,5f6d4b84d5e18f00771ab3bf,5.0,좋아요,NaN,[],NaN,published,1,325,20.9.25.금,...,NaN,VisitorReviewAuthor,636.0,3.0,5.0,AuthorReview,0.0,AuthorTheme,NaN,NaN
549482,5fd4bfbf40f6b600605d264c,5.0,맛있어요,NaN,[],NaN,published,1,316,20.9.1.화,...,NaN,VisitorReviewAuthor,1163.0,1.0,4.9,AuthorReview,0.0,AuthorTheme,NaN,NaN
549483,5fd4bef567ad970064bce482,5.0,너무 맛있구 좋아용 ❤️,NaN,[],NaN,published,1,311,20.9.1.화,...,NaN,VisitorReviewAuthor,289.0,16.0,5.0,AuthorReview,0.0,AuthorTheme,NaN,NaN
549484,60a221f841fe8b004f30df59,5.0,좋아요,NaN,[],NaN,published,1,173,20.2.26.수,...,NaN,VisitorReviewAuthor,1740.0,0.0,4.8,AuthorReview,0.0,AuthorTheme,NaN,NaN

In [11]:
import numpy as np
import re

In [12]:
total_data = df.copy()

for i, body in total_data['body'].items():
    if isinstance(body, str):
        total_data.at[i, 'body'] = re.sub(r'[\U00010000-\U0010ffff]', '', body)
    else:
        total_data.at[i, 'body'] = np.nan
total_data = total_data.dropna(subset=['body'])
total_data.drop_duplicates(subset=['body'], inplace=True)
total_data['body'] = total_data['body'].apply(lambda x: re.sub(r'[^ㄱ-ㅎㅏ-ㅣ가-힣\s]', '', str(x)))
total_data['body'] = total_data['body'].fillna('')
total_data['body'] = total_data['body'].replace('', np.nan)
total_data['body'] = total_data['body'].str.replace('\n', '')

# 문자열에 strip() 메소드 적용
total_data['body'] = total_data['body'].str.strip()
total_data['body'].replace('', np.nan, inplace=True) 
total_data = total_data.dropna(subset=['body'])
total_data['body'] = total_data['body'].astype(str)

In [13]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import urllib.request
import boto3
from collections import Counter
from konlpy.tag import Kkma

In [14]:
def replace_empty_with_nan(text):
    if text.strip() == '':
        return np.nan
    else:
        return text

In [15]:
# 형태소 분석기 및 불용어 정의
kkma = Kkma()
stopwords = ['ㅏ', 'ㅡ', 'ㅔ','ㅣ','ㅗ','ㅜ','ㅑ','ㅕ','ㅛ','ㅐ','도', '는', '다', '의', '가', '이', '은', '한', '에', '하', '고', '을', '를', '인', '듯', '과', '와', '네', '들', '듯', '지', '임', '게']

In [16]:
# 새로운 열을 초기화하고 각각의 품사에 따라 토큰을 저장
total_data['nouns'] = None

In [17]:
total_data

,review_id,rating,body,thumbnail,media,tags,status,visitCount,viewCount,visited,...,author___typename,author_review.totalCount,author_review.imageCount,author_review.avgRating,author_review.__typename,author_theme.totalCount,author_theme.__typename,author_review,author_theme,nouns
42,60d00802ddab3800506106eb,0.5,손님 놓치기 싫어서 지하층으로 손님을 받을거면 동일한 서비스를 제공하세요 그동안 ...,NaN,[],NaN,published,1,494,21.6.21.월,...,VisitorReviewAuthor,106.0,0.0,3.9,AuthorReview,0.0,AuthorTheme,NaN,NaN,None
43,60b8472d3e6c8d00506069ea,4.5,맛있어요,NaN,[],NaN,published,1,447,21.6.3.목,...,VisitorReviewAuthor,75.0,3.0,4.5,AuthorReview,0.0,AuthorTheme,NaN,NaN,None
44,60b63d1a74dab90050fa6896,5.0,김치찌개랑 계란말이 쨩,NaN,[],NaN,published,1,453,21.5.28.금,...,VisitorReviewAuthor,96.0,8.0,4.4,AuthorReview,0.0,AuthorTheme,NaN,NaN,None
46,60b434324caa1a005051f04e,3.5,파절이가 좀 아쉽네요,NaN,[],NaN,published,1,384,21.5.26.수,...,VisitorReviewAuthor,280.0,8.0,3.8,AuthorReview,0.0,AuthorTheme,NaN,NaN,None
49,607edb15268a2a004fd62779,5.0,맛있어요,NaN,[],NaN,published,1,311,21.4.13.화,...,VisitorReviewAuthor,796.0,138.0,5.0,AuthorReview,0.0,AuthorTheme,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549472,61032b3502b5940050715118,5.0,전통의 맛집,NaN,[],NaN,published,1,714,21.7.29.목,...,VisitorReviewAuthor,540.0,21.0,4.8,AuthorReview,0.0,AuthorTheme,NaN,NaN,None
549478,603c64ac9155b5006d62ac42,5.0,친절하시고 먹태 넘 맛있어요,https://myplace-phinf.pstatic.net/20210301_235...,"[{'type': 'image', 'thumbnail': 'https://mypla...",NaN,published,1,756,21.3.1.월,...,VisitorReviewAuthor,1548.0,337.0,5.0,AuthorReview,0.0,AuthorTheme,NaN,NaN,None
549479,600559110dd8370065ba8757,5.0,소스도 맛있고 친절하고 넘 맛있어요,NaN,[],NaN,published,1,415,21.1.18.월,...,VisitorReviewAuthor,2176.0,80.0,3.9,AuthorReview,0.0,AuthorTheme,NaN,NaN,None
549480,5fdca6a18f08730064dd05cb,3.5,맛있는데 닭이 쪼끄맣네요,NaN,[],NaN,published,1,378,20.12.13.일,...,VisitorReviewAuthor,1105.0,462.0,4.8,AuthorReview,0.0,AuthorTheme,NaN,NaN,None
549483,5fd4bef567ad970064bce482,5.0,너무 맛있구 좋아용,NaN,[],NaN,published,1,311,20.9.1.화,...,VisitorReviewAuthor,289.0,16.0,5.0,AuthorReview,0.0,AuthorTheme,NaN,NaN,None

In [18]:
total_data = total_data[total_data['rating'] == 5.0]

In [21]:
# businessName 열을 기준으로 그룹화하여 각 그룹의 개수 계산
total_group_counts = total_data.groupby('businessName').size()

# 10 이상인 그룹들만 선택하여 출력
total_filtered_group_counts = total_group_counts[total_group_counts >= 10]
print(total_filtered_group_counts)

businessName
106길 15         56
1914 라운지&바      24
2F              15
502커피로스터스 역삼    22
60계 치킨 양재점      26
                ..
황토감자탕           26
후추포인트           30
훌랄라바베큐치킨 역삼점    15
훠궈나라 강남점        99
히바치참치           40
Length: 807, dtype: int64

In [22]:
# 필터링된 그룹의 식당들만 선택하여 새로운 DataFrame 생성
total_data = total_data[total_data['businessName'].isin(total_filtered_group_counts.index)]

print(total_data)

                       review_id  rating  \
285     616e1f8dfbac120050633995     5.0
286     615ba274252cd00051a63451     5.0
287     6148a32a6944350050c2e547     5.0
288     614dc2a92c972500500ffd92     5.0
289     6139960dfa81a700506b8835     5.0
...                          ...     ...
549183  5db5abf2bb31600010e91dc1     5.0
549185  5da5dd28e3f47300102ee549     5.0
549188  5d2d6a1cea87b78b7cf46449     5.0
549189  5d109c0a6d60a356e4c203a8     5.0
549190  5ce8771f6c4e0a3d3a54265e     5.0

                                                     body  \
285                                                     좋
286                                                   좋아요
287                                                     굿
288                                                   맛나요
289                          마늘치킨 양념바베큐 치킨도 맛있고 생맥주 최고입니다
...                                                   ...
549183                                  요즘 찜닭 먹을 땐 홍수계로 감
549185  전체적으로 가게가 깔끔하고 음식맛이 변하지않은집입니다 오픈하고 이제년되었는데 변화가...
549188                 점심에 먹었는데 순살찜닭에 치즈 사리 밥 추가하면 딱 맞습니다
549189  강남파이낸스센터에서 식사할 일이 있어서 홍수계에서 보통맛찜닭을 먹어보았습니다 둘이서...
549190  순살 찜닭매운맛에 치즈 사리 추가했는데 약간 매운 맛을 치즈가 감싸줘서 맛있었습니다...

                                                thumbnail  \
285                                                   NaN
286                                                   NaN
287                                                   NaN
288                                                   NaN
289                                                   NaN
...                                                   ...
549183                                                NaN
549185  https://myplace-phinf.pstatic.net/20191015_222...
549188                                                NaN
549189                                                NaN
549190                                                NaN

                                                    media  tags     status  \
285                                                    []   NaN  published
286                                                    []   NaN  published
287                                                    []   NaN  published
288                                                    []   NaN  published
289                                                    []   NaN  published
...                                                   ...   ...        ...
549183                                                 []   NaN  published
549185  [{'type': 'image', 'thumbnail': 'https://mypla...   NaN  published
549188                                                 []   NaN  published
549189                                                 []   NaN  published
549190                                                 []   NaN  published

        visitCount  viewCount     visited  ...    author___typename  \
285              1        810  21.10.18.월  ...  VisitorReviewAuthor
286              1       1197   21.9.30.목  ...  VisitorReviewAuthor
287              1       1645   21.9.16.목  ...  VisitorReviewAuthor
288              1       1152   21.9.11.토  ...  VisitorReviewAuthor
289              1       1351    21.9.4.토  ...  VisitorReviewAuthor
...            ...        ...         ...  ...                  ...
549183           1          6  19.10.21.월  ...  VisitorReviewAuthor
549185           1         25  19.10.15.화  ...  VisitorReviewAuthor
549188           2          6   19.7.16.화  ...  VisitorReviewAuthor
549189           1         14   19.6.24.월  ...  VisitorReviewAuthor
549190           1          7   19.5.25.토  ...  VisitorReviewAuthor

       author_review.totalCount author_review.imageCount  \
285                      1987.0                    194.0
286                      1462.0                     71.0
287                       176.0                      1.0
288                      1200.0                      0.0
289                       682.0                     63.0
...                         ...                      ...
549183                     30.0                      3.0
549185                     37.0                     35.0
549188                    967.0                    211.0
549189                     56.0                     99.0
549190                    967.0                    211.0

       author_review.avgRating author_review.__typename  \
285                        4.7             AuthorReview
286                        4.6             AuthorReview
287                        4.8             AuthorReview
288                        4.3             AuthorReview
289                        4.6             AuthorReview
...                        ...                      ...
549183                     4.9             AuthorReview
549185                     4.8             AuthorReview
549188                     4.7             AuthorReview
549189                     4.5             AuthorReview
549190                     4.7             AuthorReview

        author_theme.totalCount  author_theme.__typename  author_review  \
285                         0.0              AuthorTheme            NaN
286                         0.0              AuthorTheme            NaN
287                         0.0              AuthorTheme            NaN
288                         0.0              AuthorTheme            NaN
289                         0.0              AuthorTheme            NaN
...                         ...                      ...            ...
549183                      0.0              AuthorTheme            NaN
549185                      0.0              AuthorTheme            NaN
549188                      0.0              AuthorTheme            NaN
549189                      0.0              AuthorTheme            NaN
549190                      0.0              AuthorTheme            NaN

       author_theme  nouns
285             NaN   None
286             NaN   None
287             NaN   None
288             NaN   None
289             NaN   None
...             ...    ...
549183          NaN   None
549185          NaN   None
549188          NaN   None
549189          NaN   None
549190          NaN   None

[55504 rows x 55 columns]

In [27]:
def tokenize_text(text):
    try:
        kkma = Kkma()
        nouns = kkma.nouns(text)
        return nouns
    except Exception as e:
        print(f"에러 발생: {e}")
        return []  # 혹은 다른 적절한 처리를 수행할 수 있습니다.

In [24]:
from tqdm import tqdm

In [29]:
tqdm.pandas()
total_data['nouns'] = total_data['body'].progress_apply(tokenize_text)

  0%|          | 0/55504 [00:00<?, ?it/s]

 54%|█████▍    | 30132/55504 [38:14<732:52:12, 103.99s/it]

에러 발생: java.lang.OutOfMemoryError: Java heap space

100%|██████████| 55504/55504 [54:34<00:00, 16.95it/s]

                       review_id  rating  \
285     616e1f8dfbac120050633995     5.0
286     615ba274252cd00051a63451     5.0
287     6148a32a6944350050c2e547     5.0
288     614dc2a92c972500500ffd92     5.0
289     6139960dfa81a700506b8835     5.0
...                          ...     ...
549183  5db5abf2bb31600010e91dc1     5.0
549185  5da5dd28e3f47300102ee549     5.0
549188  5d2d6a1cea87b78b7cf46449     5.0
549189  5d109c0a6d60a356e4c203a8     5.0
549190  5ce8771f6c4e0a3d3a54265e     5.0

                                                     body  \
285                                                     좋
286                                                   좋아요
287                                                     굿
288                                                   맛나요
289                          마늘치킨 양념바베큐 치킨도 맛있고 생맥주 최고입니다
...                                                   ...
549183                                  요즘 찜닭 먹을 땐 홍수계로 감
549185  전체적으로 가게가 깔끔하고 음식맛이 변하지않은집입니다 오픈하고 이제년되었는데 변화가...
549188                 점심에 먹었는데 순살찜닭에 치즈 사리 밥 추가하면 딱 맞습니다
549189  강남파이낸스센터에서 식사할 일이 있어서 홍수계에서 보통맛찜닭을 먹어보았습니다 둘이서...
549190  순살 찜닭매운맛에 치즈 사리 추가했는데 약간 매운 맛을 치즈가 감싸줘서 맛있었습니다...

                                                thumbnail  \
285                                                   NaN
286                                                   NaN
287                                                   NaN
288                                                   NaN
289                                                   NaN
...                                                   ...
549183                                                NaN
549185  https://myplace-phinf.pstatic.net/20191015_222...
549188                                                NaN
549189                                                NaN
549190                                                NaN

                                                    media  tags     status  \
285                                                    []   NaN  published
286                                                    []   NaN  published
287                                                    []   NaN  published
288                                                    []   NaN  published
289                                                    []   NaN  published
...                                                   ...   ...        ...
549183                                                 []   NaN  published
549185  [{'type': 'image', 'thumbnail': 'https://mypla...   NaN  published
549188                                                 []   NaN  published
549189                                                 []   NaN  published
549190                                                 []   NaN  published

        visitCount  viewCount     visited  ...    author___typename  \
285              1        810  21.10.18.월  ...  VisitorReviewAuthor
286              1       1197   21.9.30.목  ...  VisitorReviewAuthor
287              1       1645   21.9.16.목  ...  VisitorReviewAuthor
288              1       1152   21.9.11.토  ...  VisitorReviewAuthor
289              1       1351    21.9.4.토  ...  VisitorReviewAuthor
...            ...        ...         ...  ...                  ...
549183           1          6  19.10.21.월  ...  VisitorReviewAuthor
549185           1         25  19.10.15.화  ...  VisitorReviewAuthor
549188           2          6   19.7.16.화  ...  VisitorReviewAuthor
549189           1         14   19.6.24.월  ...  VisitorReviewAuthor
549190           1          7   19.5.25.토  ...  VisitorReviewAuthor

       author_review.totalCount author_review.imageCount  \
285                      1987.0                    194.0
286                      1462.0                     71.0
287                       176.0                      1.0
288                      1200.0                      0.0
289                       682.0                     63.0
...                         ...                      ...
549183                     30.0                      3.0
549185                     37.0                     35.0
549188                    967.0                    211.0
549189                     56.0                     99.0
549190                    967.0                    211.0

       author_review.avgRating author_review.__typename  \
285                        4.7             AuthorReview
286                        4.6             AuthorReview
287                        4.8             AuthorReview
288                        4.3             AuthorReview
289                        4.6             AuthorReview
...                        ...                      ...
549183                     4.9             AuthorReview
549185                     4.8             AuthorReview
549188                     4.7             AuthorReview
549189                     4.5             AuthorReview
549190                     4.7             AuthorReview

        author_theme.totalCount  author_theme.__typename  author_review  \
285                         0.0              AuthorTheme            NaN
286                         0.0              AuthorTheme            NaN
287                         0.0              AuthorTheme            NaN
288                         0.0              AuthorTheme            NaN
289                         0.0              AuthorTheme            NaN
...                         ...                      ...            ...
549183                      0.0              AuthorTheme            NaN
549185                      0.0              AuthorTheme            NaN
549188                      0.0              AuthorTheme            NaN
549189                      0.0              AuthorTheme            NaN
549190                      0.0              AuthorTheme            NaN

       author_theme                                              nouns
285             NaN                                                 []
286             NaN                                                 []
287             NaN                                                [굿]
288             NaN                                             [맛, 나]
289             NaN            [마늘, 마늘치킨, 치킨, 양념, 양념바베큐, 바베큐, 생맥주, 최고]
...             ...                                                ...
549183          NaN                           [요즘, 찜, 찜닭, 닭, 먹, 홍수, 감]
549185          NaN  [전체적, 가게, 음식, 음식맛, 맛, 집, 오픈, 이제, 변화, 자리, 자리세도,...
549188          NaN              [점심, 순, 순살찜닭, 살, 찜, 닭, 치즈, 사리, 밥, 추가]
549189          NaN  [강남, 강남파이낸스센터, 파이낸스, 센터, 식사, 일, 홍수, 보통, 보통맛찜닭,...
549190          NaN  [순, 순살, 살, 찜, 찜닭매운맛, 닭, 매운맛, 치즈, 사리, 추가, 맛, 감,...

[55504 rows x 55 columns]

In [47]:
a = total_data.iloc[-1]['nouns'] + total_data.iloc[-2]['nouns']

In [33]:
total_data.columns

Index(['review_id', 'rating', 'body', 'thumbnail', 'media', 'tags', 'status',
       'visitCount', 'viewCount', 'visited', 'created', 'reply', 'originType',
       'item', 'language', 'highlightOffsets', 'apolloCacheId',
       'translatedText', 'businessName', 'showBookingItemName',
       'bookingItemName', 'votedKeywords', 'userIdno', 'loginIdno',
       'receiptInfoUrl', 'hasViewerReacted', 'nickname', 'showPaymentInfo',
       '__typename', 'restaurant_id', 'created_at', 'reaction_cool',
       'reaction_fun', 'reaction_helpful', 'reaction_wannago', 'author_id',
       'author_nickname', 'author_from', 'author_imageUrl',
       'author_borderImageUrl', 'author_objectId', 'author_url',
       'author_isFollowing', 'author_followerCount', 'author_followRequested',
       'author___typename', 'author_review.totalCount',
       'author_review.imageCount', 'author_review.avgRating',
       'author_review.__typename', 'author_theme.totalCount',
       'author_theme.__typename', 'author_review', 'author_theme', 'nouns'],
      dtype='object')

In [34]:
total_data['restaurant_id']

285         11550769
286         11550769
287         11550769
288         11550769
289         11550769
             ...
549183    1206114796
549185    1206114796
549188    1206114796
549189    1206114796
549190    1206114796
Name: restaurant_id, Length: 55504, dtype: int64

In [37]:
total_data['restaurant_id'].tail(5)

549183    1206114796
549185    1206114796
549188    1206114796
549189    1206114796
549190    1206114796
Name: restaurant_id, dtype: int64

In [49]:
# total_data가 DataFrame이라고 가정하고 진행합니다.
grouped_data = total_data.groupby(['restaurant_id', 'businessName'])['nouns'].agg(sum)

# 결과 출력
print(grouped_data)

C:\Users\USER\AppData\Local\Temp\ipykernel_14772\2327554932.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  grouped_data = total_data.groupby(['restaurant_id', 'businessName'])['nouns'].agg(sum)

restaurant_id  businessName
10985460       하영호신촌설렁탕         [비, 비냉만두, 냉, 만두, 강추, 회, 회냉면, 냉면, 설렁탕, 만두, 반, 반...
               하영호신촌설렁탕 본점      [날, 최고, 접시, 접시수육, 수육, 뭐, 득, 별, 개, ㅋ, 냉면, 만두, 양...
11550769       금강바베큐            [굿, 맛, 나, 마늘, 마늘치킨, 치킨, 양념, 양념바베큐, 바베큐, 생맥주, 최...
               금강바비큐            [맛, 나, 숮, 숮불, 불, 닭, 맛, 숯불, 바베큐, 치킨, 매운맛, 소금, 소...
11555415       스타벅스 강남2점        [친절, 좌석, 좌석간격, 간격, 강남, 친절, 카페, 굿, 굿굿, 강남, 강남역,...
                                                      ...
1972742053     한성양꼬치 강남2호점      [강남, 강남구, 구, 최고, 양, 양꼬치, 꼬치, 양통, 양통갈비, 갈비, 대박,...
1975060524     대독장 역삼점          [인생, 맛, 맛집, 집, 장난, 친절, 계란, 계란후라이, 후라이, 수, 최, 최...
1990053180     칠백한우국밥           [국밥, 제가, 사진, 음식, 전반적, 맛, 사장님, 친절, 계산, 때, 인사, 모...
1995677404     쥬씨 강남역세무서점       [펄추가, 번, 차얌중, 펄, 밀크, 밀크티, 티, 사장님, 차, 차얌, 얌, 여기...
1996160834     송추가마골 인어반 강남점    [소고기, 고기, 포장, 픽업, 단팥빵, 구매, 이것, 세상, 고기, 가격, 고기,...
Name: nouns, Length: 813, dtype: object

In [55]:
grouped_data

restaurant_id  businessName
10985460       하영호신촌설렁탕         [비, 비냉만두, 냉, 만두, 강추, 회, 회냉면, 냉면, 설렁탕, 만두, 반, 반...
               하영호신촌설렁탕 본점      [날, 최고, 접시, 접시수육, 수육, 뭐, 득, 별, 개, ㅋ, 냉면, 만두, 양...
11550769       금강바베큐            [굿, 맛, 나, 마늘, 마늘치킨, 치킨, 양념, 양념바베큐, 바베큐, 생맥주, 최...
               금강바비큐            [맛, 나, 숮, 숮불, 불, 닭, 맛, 숯불, 바베큐, 치킨, 매운맛, 소금, 소...
11555415       스타벅스 강남2점        [친절, 좌석, 좌석간격, 간격, 강남, 친절, 카페, 굿, 굿굿, 강남, 강남역,...
                                                      ...
1972742053     한성양꼬치 강남2호점      [강남, 강남구, 구, 최고, 양, 양꼬치, 꼬치, 양통, 양통갈비, 갈비, 대박,...
1975060524     대독장 역삼점          [인생, 맛, 맛집, 집, 장난, 친절, 계란, 계란후라이, 후라이, 수, 최, 최...
1990053180     칠백한우국밥           [국밥, 제가, 사진, 음식, 전반적, 맛, 사장님, 친절, 계산, 때, 인사, 모...
1995677404     쥬씨 강남역세무서점       [펄추가, 번, 차얌중, 펄, 밀크, 밀크티, 티, 사장님, 차, 차얌, 얌, 여기...
1996160834     송추가마골 인어반 강남점    [소고기, 고기, 포장, 픽업, 단팥빵, 구매, 이것, 세상, 고기, 가격, 고기,...
Name: nouns, Length: 813, dtype: object

In [56]:
grouped_data_df = grouped_data.reset_index()

# 결과 출력
print(grouped_data_df)

     restaurant_id   businessName  \
0         10985460       하영호신촌설렁탕
1         10985460    하영호신촌설렁탕 본점
2         11550769          금강바베큐
3         11550769          금강바비큐
4         11555415      스타벅스 강남2점
..             ...            ...
808     1972742053    한성양꼬치 강남2호점
809     1975060524        대독장 역삼점
810     1990053180         칠백한우국밥
811     1995677404     쥬씨 강남역세무서점
812     1996160834  송추가마골 인어반 강남점

                                                 nouns
0    [비, 비냉만두, 냉, 만두, 강추, 회, 회냉면, 냉면, 설렁탕, 만두, 반, 반...
1    [날, 최고, 접시, 접시수육, 수육, 뭐, 득, 별, 개, ㅋ, 냉면, 만두, 양...
2    [굿, 맛, 나, 마늘, 마늘치킨, 치킨, 양념, 양념바베큐, 바베큐, 생맥주, 최...
3    [맛, 나, 숮, 숮불, 불, 닭, 맛, 숯불, 바베큐, 치킨, 매운맛, 소금, 소...
4    [친절, 좌석, 좌석간격, 간격, 강남, 친절, 카페, 굿, 굿굿, 강남, 강남역,...
..                                                 ...
808  [강남, 강남구, 구, 최고, 양, 양꼬치, 꼬치, 양통, 양통갈비, 갈비, 대박,...
809  [인생, 맛, 맛집, 집, 장난, 친절, 계란, 계란후라이, 후라이, 수, 최, 최...
810  [국밥, 제가, 사진, 음식, 전반적, 맛, 사장님, 친절, 계산, 때, 인사, 모...
811  [펄추가, 번, 차얌중, 펄, 밀크, 밀크티, 티, 사장님, 차, 차얌, 얌, 여기...
812  [소고기, 고기, 포장, 픽업, 단팥빵, 구매, 이것, 세상, 고기, 가격, 고기,...

[813 rows x 3 columns]

In [58]:
grouped_data_df['nouns'] = grouped_data_df['nouns'].apply(lambda x: list(set(x)))

# 결과 출력
print(grouped_data_df)

     restaurant_id   businessName  \
0         10985460       하영호신촌설렁탕
1         10985460    하영호신촌설렁탕 본점
2         11550769          금강바베큐
3         11550769          금강바비큐
4         11555415      스타벅스 강남2점
..             ...            ...
808     1972742053    한성양꼬치 강남2호점
809     1975060524        대독장 역삼점
810     1990053180         칠백한우국밥
811     1995677404     쥬씨 강남역세무서점
812     1996160834  송추가마골 인어반 강남점

                                                 nouns
0    [코, 인걸, 대박, 국밥, 생각, 여, 촌, 회식, 식재료, 순수, 전분, 맛, ...
1    [만두, 득, 보고, 면, 굿사장님, 중, 진한, 골동, 고기, 비빔, 깍뚜기, 효...
2    [오늘, 마늘, 생명, 작살납, 바베큐, 치킨, 작살, 생맥주, 계란, 언, 무조건...
3    [숮불, 대존맛사장님, 특제, 제대, 짱, 항상사람, 숯불구이치킨, 바베큐, 치킨,...
4    [스타벅스짱, 하면, 분의, 역시스벅, 창, 대화, ㅔ, 맛잇군, 개꿀, 문, 때,...
..                                                 ...
808  [오랜만, 대박, 여, 맛, 입문, 사장님, 양고기, 보세, 때, 린, 재, 온면,...
809  [점, 김치찌개맛있성, 짱, 계란후라이, 맛집, 갑, 리필, 중독성, 계란, 반찬,...
810  [오랜만, 공기, 국밥, 눈치안보, 조절, 여, 전반적, 번, 맛, 가게, 근처, ...
811  [딸바굿, 코, 뮤윰륨, ㅇ, 커피, 단맛, 마, 수박음료, 주일, 테잌아웃, ㅎ,...
812  [요강, 주시니더, 면, 환기, 있어서, 습, 좋았습, 기대만큼, 때, 원래, 저녁...

[813 rows x 3 columns]

In [62]:
len(grouped_data_df.iloc[0]['nouns'])

189

In [63]:
# grouped_data_df에서 'restaurant_id'와 'nouns' 열만 선택하여 새로운 DataFrame 생성
keyword_df = grouped_data_df[['restaurant_id', 'nouns']].copy()

# 'keyword' 열 생성 및 초기화
keyword_df['keyword'] = ''

# 'nouns' 열의 값을 'keyword' 열에 하나씩 저장
for index, row in keyword_df.iterrows():
    keyword_df.at[index, 'keyword'] = row['nouns']

# 결과 출력
print(keyword_df)

     restaurant_id                                              nouns  \
0         10985460  [코, 인걸, 대박, 국밥, 생각, 여, 촌, 회식, 식재료, 순수, 전분, 맛, ...
1         10985460  [만두, 득, 보고, 면, 굿사장님, 중, 진한, 골동, 고기, 비빔, 깍뚜기, 효...
2         11550769  [오늘, 마늘, 생명, 작살납, 바베큐, 치킨, 작살, 생맥주, 계란, 언, 무조건...
3         11550769  [숮불, 대존맛사장님, 특제, 제대, 짱, 항상사람, 숯불구이치킨, 바베큐, 치킨,...
4         11555415  [스타벅스짱, 하면, 분의, 역시스벅, 창, 대화, ㅔ, 맛잇군, 개꿀, 문, 때,...
..             ...                                                ...
808     1972742053  [오랜만, 대박, 여, 맛, 입문, 사장님, 양고기, 보세, 때, 린, 재, 온면,...
809     1975060524  [점, 김치찌개맛있성, 짱, 계란후라이, 맛집, 갑, 리필, 중독성, 계란, 반찬,...
810     1990053180  [오랜만, 공기, 국밥, 눈치안보, 조절, 여, 전반적, 번, 맛, 가게, 근처, ...
811     1995677404  [딸바굿, 코, 뮤윰륨, ㅇ, 커피, 단맛, 마, 수박음료, 주일, 테잌아웃, ㅎ,...
812     1996160834  [요강, 주시니더, 면, 환기, 있어서, 습, 좋았습, 기대만큼, 때, 원래, 저녁...

                                               keyword
0    [코, 인걸, 대박, 국밥, 생각, 여, 촌, 회식, 식재료, 순수, 전분, 맛, ...
1    [만두, 득, 보고, 면, 굿사장님, 중, 진한, 골동, 고기, 비빔, 깍뚜기, 효...
2    [오늘, 마늘, 생명, 작살납, 바베큐, 치킨, 작살, 생맥주, 계란, 언, 무조건...
3    [숮불, 대존맛사장님, 특제, 제대, 짱, 항상사람, 숯불구이치킨, 바베큐, 치킨,...
4    [스타벅스짱, 하면, 분의, 역시스벅, 창, 대화, ㅔ, 맛잇군, 개꿀, 문, 때,...
..                                                 ...
808  [오랜만, 대박, 여, 맛, 입문, 사장님, 양고기, 보세, 때, 린, 재, 온면,...
809  [점, 김치찌개맛있성, 짱, 계란후라이, 맛집, 갑, 리필, 중독성, 계란, 반찬,...
810  [오랜만, 공기, 국밥, 눈치안보, 조절, 여, 전반적, 번, 맛, 가게, 근처, ...
811  [딸바굿, 코, 뮤윰륨, ㅇ, 커피, 단맛, 마, 수박음료, 주일, 테잌아웃, ㅎ,...
812  [요강, 주시니더, 면, 환기, 있어서, 습, 좋았습, 기대만큼, 때, 원래, 저녁...

[813 rows x 3 columns]

In [64]:
keyword_df

,restaurant_id,nouns,keyword
0,10985460,"[코, 인걸, 대박, 국밥, 생각, 여, 촌, 회식, 식재료, 순수, 전분, 맛, ...","[코, 인걸, 대박, 국밥, 생각, 여, 촌, 회식, 식재료, 순수, 전분, 맛, ..."
1,10985460,"[만두, 득, 보고, 면, 굿사장님, 중, 진한, 골동, 고기, 비빔, 깍뚜기, 효...","[만두, 득, 보고, 면, 굿사장님, 중, 진한, 골동, 고기, 비빔, 깍뚜기, 효..."
2,11550769,"[오늘, 마늘, 생명, 작살납, 바베큐, 치킨, 작살, 생맥주, 계란, 언, 무조건...","[오늘, 마늘, 생명, 작살납, 바베큐, 치킨, 작살, 생맥주, 계란, 언, 무조건..."
3,11550769,"[숮불, 대존맛사장님, 특제, 제대, 짱, 항상사람, 숯불구이치킨, 바베큐, 치킨,...","[숮불, 대존맛사장님, 특제, 제대, 짱, 항상사람, 숯불구이치킨, 바베큐, 치킨,..."
4,11555415,"[스타벅스짱, 하면, 분의, 역시스벅, 창, 대화, ㅔ, 맛잇군, 개꿀, 문, 때,...","[스타벅스짱, 하면, 분의, 역시스벅, 창, 대화, ㅔ, 맛잇군, 개꿀, 문, 때,..."
...,...,...,...
808,1972742053,"[오랜만, 대박, 여, 맛, 입문, 사장님, 양고기, 보세, 때, 린, 재, 온면,...","[오랜만, 대박, 여, 맛, 입문, 사장님, 양고기, 보세, 때, 린, 재, 온면,..."
809,1975060524,"[점, 김치찌개맛있성, 짱, 계란후라이, 맛집, 갑, 리필, 중독성, 계란, 반찬,...","[점, 김치찌개맛있성, 짱, 계란후라이, 맛집, 갑, 리필, 중독성, 계란, 반찬,..."
810,1990053180,"[오랜만, 공기, 국밥, 눈치안보, 조절, 여, 전반적, 번, 맛, 가게, 근처, ...","[오랜만, 공기, 국밥, 눈치안보, 조절, 여, 전반적, 번, 맛, 가게, 근처, ..."
811,1995677404,"[딸바굿, 코, 뮤윰륨, ㅇ, 커피, 단맛, 마, 수박음료, 주일, 테잌아웃, ㅎ,...","[딸바굿, 코, 뮤윰륨, ㅇ, 커피, 단맛, 마, 수박음료, 주일, 테잌아웃, ㅎ,..."
812,1996160834,"[요강, 주시니더, 면, 환기, 있어서, 습, 좋았습, 기대만큼, 때, 원래, 저녁...","[요강, 주시니더, 면, 환기, 있어서, 습, 좋았습, 기대만큼, 때, 원래, 저녁..."

In [65]:
exploded_df = grouped_data_df.explode('nouns')

# 결과 출력
print(exploded_df)

     restaurant_id   businessName nouns
0         10985460       하영호신촌설렁탕     코
0         10985460       하영호신촌설렁탕    인걸
0         10985460       하영호신촌설렁탕    대박
0         10985460       하영호신촌설렁탕    국밥
0         10985460       하영호신촌설렁탕    생각
..             ...            ...   ...
812     1996160834  송추가마골 인어반 강남점    구매
812     1996160834  송추가마골 인어반 강남점    모임
812     1996160834  송추가마골 인어반 강남점  점심시간
812     1996160834  송추가마골 인어반 강남점     룸
812     1996160834  송추가마골 인어반 강남점    전복

[170771 rows x 3 columns]

In [66]:
exploded_df

     restaurant_id   businessName nouns
0         10985460       하영호신촌설렁탕     코
0         10985460       하영호신촌설렁탕    인걸
0         10985460       하영호신촌설렁탕    대박
0         10985460       하영호신촌설렁탕    국밥
0         10985460       하영호신촌설렁탕    생각
..             ...            ...   ...
812     1996160834  송추가마골 인어반 강남점    구매
812     1996160834  송추가마골 인어반 강남점    모임
812     1996160834  송추가마골 인어반 강남점  점심시간
812     1996160834  송추가마골 인어반 강남점     룸
812     1996160834  송추가마골 인어반 강남점    전복

[170771 rows x 3 columns]

In [67]:
exploded_df = exploded_df.drop(columns='businessName')

In [69]:
print(exploded_df)

     restaurant_id nouns
0         10985460     코
0         10985460    인걸
0         10985460    대박
0         10985460    국밥
0         10985460    생각
..             ...   ...
812     1996160834    구매
812     1996160834    모임
812     1996160834  점심시간
812     1996160834     룸
812     1996160834    전복

[170771 rows x 2 columns]

In [71]:
# 인덱스 제거 및 'nouns' 열의 이름을 'keyword'로 변경
exploded_df.reset_index(drop=True, inplace=True)
exploded_df.rename(columns={'nouns': 'keyword'}, inplace=True)

# 결과 출력
exploded_df

        restaurant_id keyword
0            10985460       코
1            10985460      인걸
2            10985460      대박
3            10985460      국밥
4            10985460      생각
...               ...     ...
170766     1996160834      구매
170767     1996160834      모임
170768     1996160834    점심시간
170769     1996160834       룸
170770     1996160834      전복

[170771 rows x 2 columns]

In [73]:
exploded_df.to_csv('data.csv', encoding='utf-8-sig', index=False)

In [74]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL 서버 연결 정보 설정
host = '15.164.171.183'
user = 'mealddang'
password = 'test1234'
database = 'mealddang'

# MySQL에 연결하는 Connection String 생성
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# 엔진 생성
engine = create_engine(connection_string)

In [81]:
exploded_df

        restaurant_id keyword
0            10985460       코
1            10985460      인걸
2            10985460      대박
3            10985460      국밥
4            10985460      생각
...               ...     ...
170766     1996160834      구매
170767     1996160834      모임
170768     1996160834    점심시간
170769     1996160834       룸
170770     1996160834      전복

[170771 rows x 2 columns]

In [83]:
# DataFrame을 MySQL 데이터베이스의 새로운 테이블에 저장
exploded_df.to_sql('restaurant_keyword', con=engine, index=False, if_exists='replace')

170771